.flex-box {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.flex-column {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}

.hidden {
  display: none;
}

paper-button {
  --pbs-button-rgb-fallback: 68, 115, 158;

  color: var(
    --pbs-button-color,
    rgb(
      var(
        --pbs-button-rgb-color,
        var(
          --pbs-button-rgb-state-color,
          var(
            --pbs-button-rgb-default-color,
            var(--rgb-state-default-color, var(--pbs-button-rgb-fallback))
          )
        )
      )
    )
  );
  background-color: var(
    --pbs-button-bg-color,
    rgba(var(--pbs-button-rgb-bg-color), var(--pbs-button-rgb-bg-opacity, 1))
  );

  padding: 6px;
  cursor: pointer;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}

span {
  padding: 2px;
  text-align: center;
}

ha-icon {
  padding: 2px;
}

.button-active {
  color: var(
    --paper-item-icon-active-color,
    var(
      --pbs-button-active-color,
      rgb(
        var(
          --pbs-button-rgb-active-color,
          var(
            --pbs-button-rgb-state-color,
            var(
              --pbs-button-rgb-default-color,
              var(--rgb-state-default-color, var(--pbs-button-rgb-fallback))
            )
          )
        )
      )
    )
  );
  background-color: var(
    --pbs-button-bg-active-color,
    rgba(
      var(--pbs-button-rgb-bg-active-color, var(--pbs-button-rgb-bg-color)),
      var(
        --pbs-button-rgb-bg-active-opacity,
        var(--pbs-button-rgb-bg-opacity, 1)
      )
    )
  );
}

.button-unavailable {
  color: var(
    --pbs-button-unavailable-color,
    rgb(var(--pbs-button-rgb-unavailable-color, var(--rgb-disabled-color)))
  );
}

.image {
  position: relative;
  display: inline-block;
  width: 28px;
  border-radius: 50%;
  height: 28px;
  text-align: center;
  background-size: cover;
  line-height: 28px;
  vertical-align: middle;
  box-sizing: border-box;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* Safari and Chrome */
@-webkit-keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

[rotating] {
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  -ms-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
}
