name: "CI"

on:
  push:
    branches:
      - "main"
      - "feat**"
      - "fix**"
    tags-ignore:
      - "**"
  pull_request:

jobs:
  lint:
    name: "Lint"
    runs-on: ubuntu-latest
    steps:
      - name: "Checkout the repository"
        uses: actions/checkout@v3

      - name: "Setup pnpm"
        uses: pnpm/action-setup@v2

      - name: "Setup node"
        uses: actions/setup-node@v4
        with:
          node-version-file: package.json
          cache: ${{ !env.ACT && 'pnpm' || '' }}

      - name: "Install dependencies"
        run: pnpm install

      - name: "Run Lint"
        run: pnpm run lint

      - name: "Check format"
        run: pnpm run format:check

  build:
    name: "Build & Test"
    runs-on: ubuntu-latest
    steps:
      - name: "Checkout the repository"
        uses: actions/checkout@v3

      - name: "Setup pnpm"
        uses: pnpm/action-setup@v2

      - name: "Setup node"
        uses: actions/setup-node@v4
        with:
          node-version-file: package.json
          cache: ${{ !env.ACT && 'pnpm' || '' }}

      - name: "Install dependencies"
        run: pnpm install

      - name: "Typecheck"
        run: pnpm run typecheck

      - name: "Run Build"
        run: pnpm run build
